
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_layout.cshtml";
}

@*<div align="center">
    <img src="~/src/img/Welcomeadmin.png" class="img-responsive" style="min-height:600px; min-width:700px;"/>
</div>*@


