
@{
    ViewBag.Title = "Associate Job Opening";
    Layout = "~/Views/shared/_layout.cshtml";
}

<div ng-controller="candidatesCtrl">
    <form id="formassociateJOI">
        <div>
            <input type="hidden" value="@Request.QueryString["candidateIds"]" id="candidateIds" />
            <div class="container-fluid ng-cloak" @*ng-show="divCandidate==0"*@>
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="card card-outline">
                            <div class="card-header bg-gray-light">
                                <h5 class="mb-0" style="font-weight:bold;">Associate Job Opening(s) to the selected Candidates</h5>
                            </div>
                            <br />
                            
                        
                                <p style="font-weight:bold; padding-left:15px; font-size:20px;"> Criteria Component</p>
                            
                                <div class="form-group form-inline">
                                    <div class="col-md-2">
                                        <span style="padding-left:15px;">Client Name</span>
                                    </div>

                                    <div class="col-md-1">
                                        <span>is</span>

                                    </div>
                                    <div class="col-md-2">
                                        <select ng-options="c.clientId as c.clientName for c in listClient"
                                                ng-model="clientId" class="form-control">
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-primary btn-sm  btn-flat" ng-click="getJobOpeningInfo()">Search</button>
                                    </div>
                                </div>

                        <br />
                            <br />
                            <br />


                            <div class="ng-cloak" ng-show="listJobOpeningInfo.length>0">
                                <h5 class="mb-0" style="padding-left:15px;">Matching Job Openings</h5>

                                <a style="padding-left:15px; cursor:pointer;" href="/Candidates/candidates">
                                <i class="fa fa-backward"></i>
                                Back to Candidate</a>
                                <br />
                                <div class="card-body table-responsive" style="max-height:300px;">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" ng-model="chkboxHeader_forAssJoi" ng-change="allChkboxChecked_UnChecked_forJoi()"
                                                           style="cursor:pointer;" />
                                                </th>
                                                <th>Position Tile</th>
                                                <th>Assigned Team Lead</th>
                                                <th>Assigned Recruiter</th>
                                                <th>Job Opening Status</th>
                                                <th>Account Manager</th>
                                                <th>Job Type</th>
                                                <th>Client Name</th>
                                                <th>Contact Name</th>
                                                @*<th>Action</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="jo in listJobOpeningInfo">
                                                <td><input type="checkbox" ng-model="jo.chkbox_forAssJoi" ng-change="setJoiId()" style="cursor:pointer;" /> </td>
                                                <td>{{jo.positionTile}}</td>
                                                <td>{{jo.recruitmetLeadName}}</td>
                                                <td>{{jo.recruiterName}}</td>
                                                <td>{{jo.jobOpeningStatus}}</td>
                                                <td>{{jo.accountManager}}</td>
                                                <td>{{jo.jobType}}</td>
                                                <td>{{jo.clientName}}</td>
                                                <td>{{jo.contactName}}</td>
                                                @*<td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary btn-sm" ng-click="rowclickJobOPeningInfo()">

                                                <i class="fa fa-edit"></i>
                                                Edit
                                            </button>
                                            &nbsp;&nbsp;
                                            <button type="button" ng-click="deleteJobOpeningInfo()" class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i>
                                                Delete
                                            </button>
                                        </div>
                                    </td>*@
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                                <h5 class="mb-0" style="font-weight:bold; padding-left:15px;">Select Status</h5>
                                <div class="form-group form-inline" style="margin-top:18px;">

                                    <div class="col-md-3">
                                        <span style="padding-left:18px;"> Select Candidate Status</span>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control  validate[required,'Please Select Candidate Status']" ng-model="csSubCatId" ng-options="c.csSubCatId as c.csSubCat group by c.csCat for c in listCSCat_SubCat" id="csts"></select>
                                    </div>

                                </div>
                                <div class="form-group form-inline" style="margin-top:20px;">

                                    <div class="col-md-3">

                                    </div>
                                    <div class="col-md-6">
                                        <textarea cols="50" rows="5" placeholder="Enter your Comments" ng-model="comments"></textarea>
                                    </div>

                                </div>
                                <div class="form-group form-inline" style="margin-top:20px;">

                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-primary btn-flat btn-sm" ng-click="updateCandidateStatus()" ng-disabled="joiId==0">Associate</button>
                                        &nbsp;
                                        @*<button type="button" class="btn btn-default btn-flat btn-sm">Cancel</button>*@
                                    <a href="/Home/index" class="btn btn-default btn-flat btn-sm">Cancel</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </form>

</div>
@section scripts{

    <script src="~/Scripts/Angular/Controller/candidatesCtrl.js"></script>

}

